@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-gray-950 text-white;
    }
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
